
# Ignore all compiled, build, ...
*.pyc
/build
/dist
esgfpid.egg-info/
/.eggs

# Ignore coverage related:
.coverage
/coverage
htmlcov/


# Ignore logs in any directory and its content:
**logs
**/logs/**
*.log

# Individual files:
/OLD/*
IGNORE
*SECRET*
*handles_created_during_tests*

# Ignore built docs
/docs/build
/docs/build/

